<footer class="footer">
	<a href="index.html" class="footer__logo">
		<img src="../img/logo-foot.png" alt="photodrukarnya">
	</a>
	<ul class="menu menu_center">
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark menu__link_active-light">Главная</a>
		</li>
		<li class="menu__item">
			<a href="#portfolio" class="menu__link menu__link_dark">Наши работы</a>
		</li>
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark">О нас</a>
		</li>
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark">Услуги</a>
		</li>
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark">Доставка и оплата</a>
		</li>
		<li class="menu__item">
			<a href="" class="menu__link menu__link_dark">Контакты</a>
		</li>
	</ul>
</footer>