<header class="header">
	<div class="container">
		<div class="header__logo">
			<img src="../img/logo-top.png" alt="photodrukarnya">
		</div>
		<nav class="header__menu">
			<ul class="menu">
				<li class="menu__item"><a href="" class="menu__link">Главная</a></li>
				<li class="menu__item"><a href="" class="menu__link">Наши работы</a></li>
				<li class="menu__item"><a href="" class="menu__link">О нас</a></li>
				<li class="menu__item"><a href="" class="menu__link">Услуги</a></li>
				<li class="menu__item"><a href="" class="menu__link">Доставка и оплата</a></li>
				<li class="menu__item"><a href="" class="menu__link">Контакты</a></li>
			</ul>
		</nav>
	</div>
</header><!--header-->